.hidden_onki_field {
  display: none;
}

div#onki-tags-container {
  margin-bottom: 1em;
}

div#onki-tags-container div.onkiterm {
  border: 1px solid #999;
  background-color: #e1f6f9;
  border-color: #66cbd8;
  border-radius: 5px;
  float: left;
  padding: 0.2em 0.3em;
  margin-right: 1em;
  position: relative;
  cursor: default;
  color: #333;
  text-transform: capitalize;
}

div#onki-tags-container div.onkiterm:hover {
  border-color: #f8ac09;
  background-color: #ffe3ad;
}

div#onki-tags-container div.onkiterm div.concepttree {
  position: absolute;
  margin-top: 0.8em;
  margin-left: -0.3em;
  padding: 0.2em 0.5em;
  color: #d16f00;
  border: 1px solid #999;
  border-color: #f8ac09;
  border-radius: 5px;
  background-color: #ffe3ad;
  font-style: italic;
  white-space: nowrap;
  display: none;
}

div#onki-tags-container div.onkiterm:hover div.concepttree {
  display: block;
}


div#onki-tags-container div.onkiremove {
  float: right;
  margin-left: 0.3em;
  font-size: 1.5em;
  cursor: pointer;
  color: #999;
}

div.clearme {
  clear: both;
}

input#arpa_analyze_text_btn {
  border-radius: 15px;
  background-color: #76AF4C;
  color: #254900;
  padding: 0.3em 1em;
  font-size: 1em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  cursor: default;
}

/* Autocomplete menu style */
.onki-fieldset li{
  border-bottom: 1px solid #f1f1f1 !important;
  padding: 3px 2px;
}
.onki-fieldset li.selected{
  border-color: transparent !important;
}

.onki-fieldset #autocomplete div strong{
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border:1px solid #dfdfdf;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 4px;
  margin-left: 6px;
}

.onki-fieldset #autocomplete li.selected strong{
  background-color: #fff;
  border-color: #fff;
  color: #0072b9;
}

.onki-fieldset #autocomplete div span.used{
  background-color: #ffe3ad;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border:1px solid #dfdfdf;
  color: #d16f00;
  font-size: 11px;
  padding: 2px 2px;
  margin-left:-5px;
  border-left: 0;
}
.onki-fieldset #autocomplete li.selected span.used{
  background-color: #fff;
  border-color: #fff;
  color: #0072b9;
}
.onki-fieldset #autocomplete div span.used:before {
  content: " x ";
}

.onki-fieldset #autocomplete div span.hierarchy{
  color: #555;
  font-size: 0.7em;
  font-style: italic;
}
.onki-fieldset #autocomplete li.selected span.hierarchy{
  color: #fff;
}
